<section class="post title-card">
  <h1><%= gettext "Welcome to %{name}", name: "Banter" %></h1>
  <p>the social media site with a 280 character <strong>minimum</strong></p>
</section>

<section class="post sub-title-card">
  <nav>
    <%= link "Explore Posts", to: Routes.post_index_path(@conn, :index) %>
  </nav>
</section>
