/* This file is for your main application CSS */
@import "./phoenix.css";

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1.0;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1.0;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* VARIABLES */
:root {
  --primary-color: #0680bd;
  --secondary-color: #f97f42;
}

/* POSTS */

.post {
  margin: 2%;
  padding: 2%;
  border: 2px solid lightgray;
  border-radius: 12px;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-title {
  font-weight: bold;
}

.post-title--input {
  font-size: large;
}

.post-username {
  font-style: italic;
  text-align: right;
}

.post-body {
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
  resize: vertical;
}

.post-body--minimized {
  max-height: 40vh;
  overflow: hidden;
  /* this sadly doesn't work without setting `white-space: nowrap` in `.post-body` above */
  text-overflow: ellipsis;
}

.post-body-status {
  max-width: 3vw;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 4px 8px;
}

.post-body-status:hover {
  cursor: pointer;
}

.post-actions {
  display: flex;
  justify-content: space-between;
}

/* MAIN/GENERAL STYLES */

.page-header {
  text-align: center;
  text-decoration: underline;
}

.logo {
  text-align: center;
}

.logo img {
  max-height: 200px;
}

.title-card {
  background-color: lightgray;
  text-align: center;
}

.sub-title-card {
  text-align: center;
}


.content-nav {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

/* LINKS */

a {
  color: var(--primary-color);
}

.button-primary {
  font-size: large;
  color: white;
  text-align: right;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 12px;
  background-color: var(--primary-color);
  filter: brightness(100%)
}

.button-primary:hover {
  filter: brightness(120%);
  color: lightgray;
}

.button-primary:active {
  background-color: var(--primary-color);
  filter: brightness(90%);
}

.button-primary--selected {
  border: 1px solid var(--secondary-color);
}

/* .button-primary--selected:hover {
  background-color: magenta;
}

.button-primary--selected:active {
  background-color: purple;
} */